<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCH3Rm_F4wbnWDLU0YOMATSrHXvF4Ivd4A</string>
	<key>GCM_SENDER_ID</key>
	<string>112425397236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieWidgets</string>
	<key>PROJECT_ID</key>
	<string>movieappflutter-7d810</string>
	<key>STORAGE_BUCKET</key>
	<string>movieappflutter-7d810.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112425397236:ios:9cc2366b60bfca1bcbe7a1</string>
</dict>
</plist>